<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>dev.herdr.idle-maintenance</string>
  <key>ProgramArguments</key>
  <array>
    <string>@PYTHON@</string>
    <string>@SCRIPT@</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HERDR_BIN</key>
    <string>@HERDR_BIN@</string>
    <key>HERDR_IDLE_SECONDS</key>
    <string>@IDLE_SECONDS@</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>StartInterval</key>
  <integer>@INTERVAL@</integer>
  <key>StandardOutPath</key>
  <string>@LOG@</string>
  <key>StandardErrorPath</key>
  <string>@ERR_LOG@</string>
</dict>
</plist>
